* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box1 {
  width: 100%;
  background-color: rgb(158, 49, 49);
  color: #fff;
  font-size: 27px;
  height: 155vh;
  letter-spacing: 1px;
  /* padding: 130px; */
  margin-bottom: 5.5rem;
  text-align: justify;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 88% 100%, 0 100%);
}

.mainlogo {
  margin-bottom: 1rem;
  padding-top: 60px;
  padding-left: 130px;
}

.Content {
  margin-bottom: 2.1rem;
  padding-left: 130px;
  text-align: justify;
}

.Content1 {
  padding-left: 130px;
  padding-right: 110px;
}

.white {
  font-size: 112px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: bold;
  text-shadow: 5px 0px 0px rgb(245, 237, 237);
  font-family: "Archivo Black", sans-serif;
}
.black {
  color: black;
  font-size: 47px;
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 5px;
  font-weight: 650;
  text-shadow: 2px 0px 0px rgb(14, 13, 13);
}

.best-clubs-section {
  padding-left: 115px;
  padding-bottom: 120px;
}
.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 1rem;
}
.header h1 {
  font-size: 70px;
  font-family: "Anton", sans-serif;
  text-shadow: 2px 0px 0px rgb(14, 13, 13);
  letter-spacing: 6px;
  word-spacing: 5px;
  font-family: "Archivo Black", sans-serif;
}
.clubs img {
  width: 64%;
  margin-bottom: 1rem;
}
.clubs p {
  font-size: 27px;
  font-weight: 900;
  font-family: "Archivo Black", sans-serif;
}

.clubs {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}
.clubs-container {
  display: flex;
  padding-top: 30px;
}

.header img {
  width: 50px;
}

.footer p {
  background-color: #94262e;
  font-family: "Archivo Black", sans-serif;
  color: white;
  text-shadow: 2px 0px 0px rgb(245, 241, 241);
  padding-left: 113px;
  font-size: 55px;
  font-weight: bold;
  padding: 120px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 87% 100%, 0 100%);
}
